.c-link {
  color: var(--link-color);
  @include font-height(14, 20);
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: toRem(4);
  height: toRem(35);
  user-select: none;
  position: relative;
  z-index: 1;
  @apply px-4;

  &__highlighter {
    opacity: 0;
    position: absolute;
    inset: 0;
    border-radius: var(--radius-md-lg);
    background-color: var(--gray-subtle);
    filter: brightness(2);
    z-index: -1;
    transform: scale(0.9);
    transition: 100ms ease;
  }

  &:hover {
    .c-link__highlighter {
      opacity: 1;
      transform: scale(1);
    }

    .c-link__dropdown {
      transform: rotate(180deg);
    }
  }
}
